{% extends 'base.html.twig' %}
{% block body %}
    <div class="content">
        <div class="container">
            <div class="confirm">
                {% block fos_user_content %}
                    <p>Registration confirmed</p>
                    <a class="go-main-page" href="/">Main page</a>
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
{% endblock %}